body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 10vh 75vh 15vh;
    text-align: center;
}

.header {
    grid-area: 1 / 1 / 2 / 4;
}

.main {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr 1fr;
    justify-content: space-around;
    /* не сработало это свойство почему-то, сделала через margin. В футере так же было и тоже не сработало */
    background-color: #f2e8c3;
}

.container {
    grid-area: 1 / 1 / 2 / 3;
}

.section-1 {
    grid-area: 2 / 1 / 3 / 2;
}

.section-2 {
    grid-area: 2 / 2 / 3 / 3;
}

.section-3 {
    grid-area: 3 / 1 / 4 / 3;
}

.aside {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #dcf1d0;
}

.footer {
    grid-area: 3 / 1 / 4 / 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.main section {
    margin: 20px;
    background-color: #f6dbad;
}

.footer section {
    margin: 20px;
    background-color: #FFFFFF;
}

.header,
.footer {
    background-color: #cfcaca;
}